<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="cox.web.services">
			<section name="securitySettings" type="Cox.Configuration.ServerSecuritySectionHandler, Cox.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null"/>
		</sectionGroup>
		<section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="applicationConfigurationManagement" type="Microsoft.ApplicationBlocks.ConfigurationManagement.ConfigurationManagerSectionHandler,Microsoft.ApplicationBlocks.ConfigurationManagement, Version=1.2.0.0,Culture=neutral,PublicKeyToken=null"/>
		<section name="connectionData" type="Microsoft.ApplicationBlocks.ConfigurationManagement.XmlHashtableSectionHandler,Microsoft.ApplicationBlocks.ConfigurationManagement, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>
	<cox.web.services>
		<securitySettings tokenType="Username">
			<securityGroup domainName="local" groupName="cox.web.services"/>
		</securitySettings>
	</cox.web.services>
	<microsoft.web.services>
		<security>
			<passwordProvider type="Cox.Web.Services.Security.PasswordProvider,Cox.Web.Services, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null"/>
		</security>
		<filters>
			<input>
				<add type="Cox.Web.Services.Filters.MustUnderstandInputFilter,Cox.Web.Services, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null"/>
			</input>
		</filters>
		<diagnostics>
			<trace enabled="false" input="inputtrace.xml" output="outputtrace.xml"/>
		</diagnostics>
	</microsoft.web.services>
	<exceptionManagement mode="on">
		<!--
			Publish all ERRORs that occur. Exclude only those errors used below.
			By default, an unrecognized exception is an error.
		-->
		<publisher
      mode="on"
      assembly="Cox.ApplicationBlocks.ExceptionManagement,Version=2.0.0.0,Culture=neutral,PublicKeyToken=null"
      type="Cox.ApplicationBlocks.ExceptionManagement.EventLogPublisher"
      logName="Application"
      sourceName="Cox.Web.Services.CustomerAccount"
      eventType="Error"
      exclude="Cox.Validation.ValidationException,Cox.Validation;
                Cox.BusinessLogic.Exceptions.InvalidAccountNumberException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.InvalidStatementCodeException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.InquiryNoStatementsException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.MopAuthorizationFailedException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.MopAlreadyAuthorizedException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.InvalidBankRoutingNumberException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.InvalidMopAccountInformationException,Cox.BusinessLogic;"/>
		<!--Publish all WARNINGs that occur. Exclude all exceptions except those specified.-->
		<publisher
      mode="on"
      assembly="Cox.ApplicationBlocks.ExceptionManagement,Version=2.0.0.0,Culture=neutral,PublicKeyToken=null"
      type="Cox.ApplicationBlocks.ExceptionManagement.EventLogPublisher"
      logName="Application"
      sourceName="CustAcctLog"
      eventType="Warning"
      exclude="*"
      include="Cox.Validation.ValidationException,Cox.Validation;
                Cox.BusinessLogic.Exceptions.InvalidAccountNumberException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.InvalidStatementCodeException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.InquiryNoStatementsException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.MopAuthorizationFailedException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.MopAlreadyAuthorizedException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.InvalidBankRoutingNumberException,Cox.BusinessLogic;
                Cox.BusinessLogic.Exceptions.InvalidMopAccountInformationException,Cox.BusinessLogic;"/>
		<!--Publish all INFORMATIONAL events that occur. Exclude all exceptions except those specified.-->
		<publisher
      mode="off"
      assembly="Cox.ApplicationBlocks.ExceptionManagement,Version=2.0.0.0,Culture=neutral,PublicKeyToken=null"
      type="Cox.ApplicationBlocks.ExceptionManagement.EventLogPublisher"
      logName="Application"
      sourceName="CustAcctLog"
      eventType="Information"
      exclude="*"
      include="Cox.BusinessLogic.Exceptions.InquiryNoStatementsException,Cox.BusinessLogic;"/>
	</exceptionManagement>
	<applicationConfigurationManagement defaultSection="connectionData">
		<configSection name="connectionData">
			<configCache enabled="true" refresh="1 * * * *"/>
			<configProvider assembly="Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.2.0.0,Culture=neutral,PublicKeyToken=null" type="Microsoft.ApplicationBlocks.ConfigurationManagement.Storage.XmlFileStorage" signed="false" refreshOnChange="true" encrypted="false" path="C:\_conn\DevDatabase\connectionInformation.xml"/>
		</configSection>
	</applicationConfigurationManagement>
	<system.web>
		<webServices>
			<soapExtensionTypes>
				<add type="Microsoft.Web.Services.WebServicesExtension,Microsoft.Web.Services, Version=1.0.0.0, Culture=neutral,PublicKeyToken=31bf3856ad364e35" priority="1" group="0"/>
			</soapExtensionTypes>
		</webServices>
		<!--  DYNAMIC DEBUG COMPILATION
				Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
				false will improve runtime performance of this application. 
				Set compilation debug="true" to insert debugging symbols (.pdb information)
				into the compiled page. Because this creates a larger file that executes
				more slowly, you should set this value to true only when debugging and to
				false at all other times. For more information, refer to the documentation about
				debugging ASP.NET files.
		-->
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--  CUSTOM ERROR MESSAGES
				Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
				Add <error> tags for each of the errors you want to handle.

				"On" Always display custom (friendly) messages.
				"Off" Always display detailed ASP.NET error information.
				"RemoteOnly" Display custom (friendly) messages only to users not running 
				on the local Web server. This setting is recommended for security purposes, so 
				that you do not display application detail information to remote clients.
		-->
		<customErrors mode="RemoteOnly"/>
		<!--  AUTHENTICATION 
				This section sets the authentication policies of the application. Possible modes are "Windows", 
				"Forms", "Passport" and "None"

				"None" No authentication is performed. 
				"Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
				its settings for the application. Anonymous access must be disabled in IIS. 
				"Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
				you authenticate them in your application. A user credential token is stored in a cookie.
				"Passport" Authentication is performed via a centralized authentication service provided
				by Microsoft that offers a single logon and core profile services for member sites.
		-->
		<authentication mode="Windows"/>
		<!--  AUTHORIZATION 
				This section sets the authorization policies of the application. You can allow or deny access
				to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
				(unauthenticated) users.
		-->
		<authorization>
			<allow users="*"/>
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
									roles="[comma separated list of roles]"/>
						<deny      users="[comma separated list of users]"
									roles="[comma separated list of roles]"/>
				-->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
				Application-level tracing enables trace log output for every page within an application. 
				Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
				trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
				application trace log by browsing the "trace.axd" page from your web application
				root. 
		-->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
				By default ASP.NET uses cookies to identify which requests belong to a particular session. 
				If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
				To disable cookies, set sessionState cookieless="true".
		-->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--  GLOBALIZATION
				This section sets the globalization settings of the application. 
		-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>    
    <xhtmlConformance mode="Legacy"/></system.web>  
	<appSettings>
		<add key="siteCodeLeaseDuration" value="1440"/>
		<!--<add key="Cox.ServiceAgent.ConnectionManager" value="http://localhost:8080"/>-->
    <add key="Cox.ServiceAgent.ConnectionManager" value="https://connmgrwebservices.qa.cox.com:5040"/>
    <add key="serviceCategoryLeaseDuration" value="1440"/>
    <add key="NortelMarketsSiteIdList" value="126,131,132,186,215,216,238,333,334,342,436,476,477,541,580,609"/>
    <add key="BTSMarketsSiteIdList" value="001,135,182,214,239,"/>
  </appSettings>
</configuration>
